.image {
    display: flex;
}

.donut { 
    position: absolute;
}

.donut::after {
    content: "";
    position: absolute;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.heading {
    margin: 0;
    color: #ccc;
}

.container-zero {
    font-family: Roboto;
    font-weight: 800;
    background: white;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
}

.container-one {
    display: flex;
    align-content: center;
    justify-content: start;
    font-family: Roboto;
    font-weight: 800;
}

.container-two {
    font-family: Roboto;
}

.line-one {
    display: flex;
    width: 100vw;
}

.text-two {
    display: flex;
    flex-direction: column;
}

.white {
    background-color: white;
    position: absolute;
    z-index: 999;
    width: 150vw;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {

    .container-zero {
        font-size: calc(60/1440*100vw);
        height: calc(250/1440*100vw);
        margin-left: calc(100/1440*100vw);
    }

    .container-two {
        font-size: calc(27/1440*100vw);
        margin-left: calc(100/1440*100vw);
        margin-bottom: calc(21/1440*100vw);
        line-height: calc(40/1440*100vw)
    }

    .line-one {
        margin-left: calc(100/1440*100vw);
        font-size: calc(25/1440*100vw);
        margin-bottom: calc(180/1440*100vw);
    }

    .image {
        width: calc(200/1440*100vw);
        height: calc(200/1440*100vw); 
    }
    
    .donut { 
        position: absolute;
        width: calc(212/1440*100vw);
        height: calc(100/1440*100vw);
    }
    
    .donut::after {
        content: "";
        position: absolute;
        top: calc(-340/1440*100vw);
        left: calc(1200/1440*100vw);
        width: calc(500/1440*100vw);
        height: calc(500/1440*100vw);    
        border-left: calc(150/1440*100vw) solid white;
        border-right: calc(150/1440*100vw) solid white;
        border-top: calc(150/1440*100vw) solid red;
        border-bottom: calc(150/1440*100vw) solid white;
        -moz-border-radius: calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw);
             border-radius: calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw);
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

}


@media screen and (min-width: 1440px) {

    .container-zero {
        font-size: calc(60/1440*100vw);
        height: calc(250/1440*100vw);
        margin-left: calc(100/1440*100vw);
    }

    .container-two {
        font-size: calc(27/1440*100vw);
        margin-left: calc(100/1440*100vw);
        margin-bottom: calc(21/1440*100vw);
        line-height: calc(40/1440*100vw)
    }

    .line-one {
        margin-left: calc(100/1440*100vw);
        font-size: calc(25/1440*100vw);
        margin-bottom: calc(180/1440*100vw);
    }

    .image {
        width: calc(200/1440*100vw);
        height: calc(200/1440*100vw); 
    }
    
    .donut { 
        position: absolute;
        width: calc(212/1440*100vw);
        height: calc(100/1440*100vw);
    }
    
    .donut::after {
        content: "";
        position: absolute;
        top: calc(-340/1440*100vw);
        left: calc(1200/1440*100vw);
        width: calc(500/1440*100vw);
        height: calc(500/1440*100vw);    
        border-left: calc(150/1440*100vw) solid white;
        border-right: calc(150/1440*100vw) solid white;
        border-top: calc(150/1440*100vw) solid red;
        border-bottom: calc(150/1440*100vw) solid white;
        -moz-border-radius: calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw);
             border-radius: calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw) calc(500/1440*100vw);
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }

}
