

.donut { 
    position: absolute;
}

.heading {
    margin: 0;
    color: #ccc;
}

.container-zero {
    font-family: Roboto;
    font-weight: 800;
    background: white;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
}

.container-one {
    display: flex;
    align-content: center;
    justify-content: start;
    font-family: Roboto;
    font-weight: 800;
}

.container-two {
    font-family: Roboto;
}

.line-one {
    display: flex;
    width: 100vw;
}

.text-two {
    display: flex;
    flex-direction: column;
}

.white {
    background-color: white;
    position: absolute;
    z-index: 999;
    width: 100vw;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {

    .container-zero {
        font-size: calc(60/1440*100vw);
        height: calc(250/1440*100vw);
        margin-left: calc(100/1440*100vw);
    }

    .container-two {
        font-size: calc(27/1440*100vw);
        margin-left: calc(100/1440*100vw);
        margin-bottom: calc(21/1440*100vw);
        line-height: calc(40/1440*100vw)
    }

    .line-one {
        margin-left: calc(100/1440*100vw);
        font-size: calc(25/1440*100vw);
        margin-bottom: calc(180/1440*100vw);
    }

    .image {
        width: calc(200/1440*100vw);
        height: calc(200/1440*100vw); 
    }
    
    .donut { 
        border: calc(150/1440*100vw) solid #f00;
        border-radius: 50%;
        height: calc(500/1440*100vw);
        width: calc(500/1440*100vw);
        top: calc(500/1440*100vw);
        left: calc(1100/1440*100vw);
    }

    .white {
        height: calc(500/1440*100vw);
    }

}


@media screen and (min-width: 1440px) {

    .container-zero {
        font-size: calc(60/1440*100vw);
        height: calc(250/1440*100vw);
        margin-left: calc(100/1440*100vw);
    }

    .container-two {
        font-size: calc(27/1440*100vw);
        margin-left: calc(100/1440*100vw);
        margin-bottom: calc(21/1440*100vw);
        line-height: calc(40/1440*100vw)
    }

    .line-one {
        margin-left: calc(100/1440*100vw);
        font-size: calc(25/1440*100vw);
        margin-bottom: calc(180/1440*100vw);
    }

    .image {
        width: calc(200/1440*100vw);
        height: calc(200/1440*100vw); 
    }
    
    .donut { 
        border: calc(150/1440*100vw) solid #f00;
        border-radius: 50%;
        height: calc(500/1440*100vw);
        width: calc(500/1440*100vw);
        top: calc(500/1440*100vw);
        left: calc(1100/1440*100vw);
    }

    .white {
        height: calc(500/1440*100vw);
    }

}
